[Unit]
Description=Start aquarium server

[Service]
WorkingDirectory=modes/ganfalf.sh
Type=forking
ExecStart=/bin/bash gandalf.sh
KillMode=process

[Install]
WantedBy=multi-user.target
